﻿
<div class="pfx-section">
                <h4>
                    This is a Dynamically Sized Grid
                </h4>
                
               
                
                <div id="gridContainer">
                    <div data-type="head">
                        <table class="gridTable">
                            <thead>
                                <tr>
                                    <th style="width:50%">C1</th>
                                    <th style="width:10%;">C2</th>
                                    <th style="width:30%;">C3</th>
                                    <th style="width:10%">C4</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div data-type="body" style="overflow-y: scroll; position:relative; height:200px;">
                        <table class="gridTable gridBody">
                            <tbody tabindex="1" data-bind="foreach: items">
                                <tr data-bind="css: {altrow: $index()%2}">
                                    <td data-bind="text: f1"></td>
                                    <td data-bind="text: f2"></td>
                                    <td data-bind="text: f3"></td>
                                    <td data-bind="text: f4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {

                        //                        var reqWidth = '100%';
                        //                        var element = $('#gridContainer');

                        //                        element.width(reqWidth);
                        //                        var innerWidth = element.width() - getScrollbarWidth() - 2;

                        //                        var headTable = element.find('div[data-type=head]>table');
                        //                        headTable.width(innerWidth);

                        //                        var bodyTable = element.find('div[data-type=body]>table');
                        //                        bodyTable.width(innerWidth);

                        //                        var ths = element.find('div[data-type=head]>table>thead>tr>th');
                        //                        var tds = element.find('div[data-type=body]>table>tbody>tr>td');
                        //                        $.each(ths, function (index, th) {
                        //                            $(tds[index]).attr('style', $(th).attr('style'));
                        //                        });
                        //                        

                        var model = {};
                        model.items = [{
                            f1: "Lorem ipsum dolor sit amet, consectetur",
                            f2: 21343,
                            f3: "adipisicing elit",
                            f4: 32
                        }, {
                            f1: "sed do eiusmod tempor incididunt ut labore",
                            f2: 43521,
                            f3: "et dolore magna",
                            f4: 82
                        }, {
                            f1: "aliqua. Ut enim ad minim veniam quis nostrud",
                            f2: 7893,
                            f3: "exercitation ullamco",
                            f4: 89
                        }, {
                            f1: "laboris nisi ut aliquip ex ea commodo consequat",
                            f2: 29132,
                            f3: "Duis aute irure",
                            f4: 45
                        }, {
                            f1: "Lorem ipsum dolor sit amet, consectetur",
                            f2: 21343,
                            f3: "adipisicing elit",
                            f4: 32
                        }, {
                            f1: "sed do eiusmod tempor incididunt ut labore",
                            f2: 43521,
                            f3: "et dolore magna",
                            f4: 82
                        }, {
                            f1: "aliqua. Ut enim ad minim veniam quis nostrud",
                            f2: 7893,
                            f3: "exercitation ullamco",
                            f4: 89
                        }, {
                            f1: "laboris nisi ut aliquip ex ea commodo consequat",
                            f2: 29132,
                            f3: "Duis aute irure",
                            f4: 45
                        }, {
                            f1: "Lorem ipsum dolor sit amet, consectetur",
                            f2: 21343,
                            f3: "adipisicing elit",
                            f4: 32
                        }, {
                            f1: "sed do eiusmod tempor incididunt ut labore",
                            f2: 43521,
                            f3: "et dolore magna",
                            f4: 82
                        }, {
                            f1: "aliqua. Ut enim ad minim veniam quis nostrud",
                            f2: 7893,
                            f3: "exercitation ullamco",
                            f4: 89
                        }, {
                            f1: "laboris nisi ut aliquip ex ea commodo consequat",
                            f2: 29132,
                            f3: "Duis aute irure",
                            f4: 45
                        }];

                        $('#gridContainer').setScrollableGridMetrics('100%');

                        ko.applyBindings(model, $('#gridContainer')[0]);

                        return;

                        //                        var innerWidth = element.width() - getScrollbarWidth();


                        //                        var ths = element.find('th');
                        //                        var thInnerTotal = 0;

                        //                        $.each(ths, function (index, _th) {
                        //                            var th = $(_th);
                        //                            thInnerTotal += th.width();
                        //                        });

                        //                        var thOuterTotal = element.find('div[data-type=head] table').width();

                        //                        var scaleRatio = (innerWidth + thInnerTotal - thOuterTotal) / parseFloat(thInnerTotal);

                        //                        $.each(ths, function (index, _th) {
                        //                            var th = $(_th);
                        //                            th.width(th.width() * scaleRatio);
                        //                        });





                        //                        //.setScrollableGridMetrics();

                        //                        ko.applyBindings(model, element[0]);
                    });
                </script>

                <h4>Your Section here</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Head 1</th>
                            <th>Head 2</th>
                            <th>Head 3</th>
                            <th>Head 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Column 1</td>
                            <td>Column 2</td>
                            <td>Column 3</td>
                            <td>Column 4</td>
                        </tr>
                        <tr>
                            <td>Column 1</td>
                            <td>Column 2</td>
                            <td>Column 3</td>
                            <td>Column 4</td>
                        </tr>
                        <tr>
                            <td>Column 1</td>
                            <td>Column 2</td>
                            <td>Column 3</td>
                            <td>Column 4</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Foot 1</td>
                            <td>Foot 2</td>
                            <td>Foot 3</td>
                            <td>Foot 4</td>
                        </tr>
                    </tfoot>
                </table>
                <h4>Hey Another Section</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div>
                <p class="clear-floats"></p>
                <h4 class="sub-heading">Navigation</h4>
                <div class="align-center">
                    <button class="pfx-button"
                       onclick="javascript:showErrorBanner('Something broke!');">
                        Test Error
                    </button>
                </div>
            </div>