﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileDownloadFrame</title>
</head>
    <body>
        <!-- PageDownloadScriptIdentifier (Please don't remove!) -->
        <script type="text/javascript">
            var form = document.createElement("form");
            var exportPageUrl = parent.$FileDownloadUrl + "?TabId=" + parent.applicationContext.activeView().tabId();

            form.setAttribute("method", "post");
            form.setAttribute("action", exportPageUrl);
            form.setAttribute("accept", "text/xml");
            form.setAttribute("target", "_self");

            for (var p in parent.$FileDownloadParameters) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", p);
                hiddenField.setAttribute("value", parent.$FileDownloadParameters[p]);

                form.appendChild(hiddenField);
            }
            document.body.appendChild(form);
            form.submit();
            window.setTimeout(function () { document.body.innerHTML = ""; }, 50);
        </script>
    </body>
</html>
