﻿#errorBanner
{
    color: white;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	width: 100%; 
	background-color: #FF401F; 
	height:30px; 
	position:fixed; 
	bottom:0px; 
	left:0px; 
	border: 2px solid #E02200;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}
#errorBanner>.close
{
	vertical-align:middle;
	text-align:right;
	position:absolute;
	right:0px;
	cursor:pointer;
}
#errorBanner>.message, 
#errorBanner>.errorDetailButton
{
	vertical-align:middle;
}
#errorBanner>.errorDetailButton 
{
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: left;
    font-size: 10px;
    vertical-align: bottom;
    height: 15px;
    background-color: #FF401F;
    border: 1px solid #E02200;
    color: #E02200;
}
.errorDetailDialog {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border: 1px solid black;
    background-color: white;
    padding: 10px 10px 10px 10px;
}