﻿/*--------------------------------------------------------------------------
    Content Container - $FluidGrid Elements
    - containing styling for the fluid-grid and form elements within it
----------------------------------------------------------------------------*/

.pfx-fluid-grid 
{
  display: block; overflow: hidden;
  width: 100%;  max-width: 100%; 
  margin: 0 auto; margin-bottom: 1%;
  /*font-size: 1.0em;*/
}

/* Helper Class: Container */
.grid-row { display: inline-block; width: 99%; margin: 0 0.5%; border: 0px solid green;}

.grid-test { background-color: green; }

/* -----------------------------------------
   Profound Grid - Fluid Nested Grids
   Reference: http://www.profoundgrid.com/
   Note: col renamed to col-width, push renamed to col-idx
-------------------------------------------- */

.col-width-1, .col-width-2, .col-width-3, .col-width-4, .col-width-5, .col-width-6, 
.col-width-7, .col-width-8, .col-width-9, .col-width-10, .col-width-11, .col-width-12 {
    min-height: 2.8em;  /* height of default t-button */
    line-height: 1.75em;
    border: 0px solid green;
}

/* Helper Class: Columns */
.col-width-1 { float: left; margin-right: -100%; width: 6.5%;  }
.col-width-2 { float: left; margin-right: -100%; width: 15%;   }
.col-width-3 { float: left; margin-right: -100%; width: 23.5%; }
.col-width-3-customised { float: left; margin-right: -100%; }
.col-width-4 { float: left; margin-right: -100%; width: 32%;   }
.col-width-5 { float: left; margin-right: -100%; width: 40.5%; }
.col-width-6 { float: left; margin-right: -100%; width: 49%;   }
.col-width-7 { float: left; margin-right: -100%; width: 57.5%; }
.col-width-8 { float: left; margin-right: -100%; width: 66%;   }
.col-width-9 { float: left; margin-right: -100%; width: 74.5%; }
.col-width-10 { float: left; margin-right: -100%; width: 83%;  }
.col-width-11 { float: left; margin-right: -100%; width: 91.5%; }
.col-width-12 { float: left; margin-right: -100%; width: 100%;  }

/* Helper Class: Horizontal Position */
.col-idx-0 { margin-left: 0%; }
.col-idx-1 { margin-left: 8.5%; }
.col-idx-2 { margin-left: 17%; }
.col-idx-3 { margin-left: 25.5%; }
.col-idx-4 { margin-left: 34%; }
.col-idx-5 { margin-left: 42.5%; }
.col-idx-6 { margin-left: 51%; }
.col-idx-7 { margin-left: 59.5%; }
.col-idx-8 { margin-left: 68%; }
.col-idx-9 { margin-left: 76.5%; }
.col-idx-10 { margin-left: 85%; }
.col-idx-11 { margin-left: 93.5%; }

/* ---------------------------------------------------------
    Form Element Adjustments
------------------------------------------------------------ */

.grid-row input[type="text"] { width: 95%; max-width: 95%; padding-right: 0.2em;}
.grid-row textarea { margin: 0 0 0.5em 0.2em;}

.grid-row div.t-combobox {margin-bottom: 0;padding:0; width: 97% !important;max-width: 97%;  }
.grid-row div.t-combobox input[type='text'] { width: 100%; max-width: 100%;}

.grid-row div.t-datepicker {padding-left: 0; width: 10em;max-width: 10em; }
.grid-row div.t-datepicker input[type='text'] { width: 6.5em;max-width: 6.5em;padding-right: 0.2em;}
.grid-row div.mandatory-field-indicator { width: 9px !important;margin-left: 0;padding-left: 0;  }


/* ---------------------------------------------------------
    Test Pattern: 
    =============
    To view a strip of the grid layout, insert the following code into your .cshtml file
    

<div class="pfx-section">
    <div class="pfx-fluid-grid">
        <div class="grid-row">
            <div class="col-width-1 col-idx-0 grid-test"> </div>
            <div class="col-width-1 col-idx-1 grid-test"> </div>
            <div class="col-width-1 col-idx-2 grid-test"> </div>
            <div class="col-width-1 col-idx-3 grid-test"> </div>
            <div class="col-width-1 col-idx-4 grid-test"> </div>
            <div class="col-width-1 col-idx-5 grid-test"> </div>
            <div class="col-width-1 col-idx-6 grid-test"> </div>
            <div class="col-width-1 col-idx-7 grid-test"> </div>
            <div class="col-width-1 col-idx-8 grid-test"> </div>
            <div class="col-width-1 col-idx-9 grid-test"> </div>
            <div class="col-width-1 col-idx-10 grid-test"> </div>
            <div class="col-width-1 col-idx-11 grid-test"> </div>
        </div>
    </div>
</div>

------------------------------------------------------------ */
