table{
    border-collapse: collapse;
}

table, th, td{
    padding:3px;
}

div[data-type="body"] tr {
    background-color: #FFFFFF;
}

div[data-type="body"] tr.altrow {
    background-color:rgb(245,245,245);
}

th 
{
    font-weight: normal;
    color: #FFFFFF;
    border-left:1px solid rgb(197,197,197);
    border-right:1px solid rgb(197,197,197);
    background-color: #1E3C7B;
    background-image: none, linear-gradient(#1E3C7B 0px, #38528A 100%);
    overflow-y: hidden;
}
th[data-sort] {
    cursor: pointer;
}

.gridTable th:first-child {
    border-left: 0;
}

td {
    border: 1px solid rgb(197,197,197);
    overflow-x: hidden;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 5px;
    width: 5em;
}

div[data-type="body"] tr.selected
{
    color: white;
    background-color: #517DBF;
}

div[data-type="body"] tr:hover
{
    color: white;
    background-color: #517DBF;
}

button{
border:1px solid black;
border-radius:5px;
}

.loadingIndicator{
    position: fixed;
    width: 200px;
    height: 100px;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;		
    border:	1px solid black;
    border-radius: 5px;
}

.loadingIndicator>img{

    position:relative;
    left:50%;
    top: 20px;
    margin-left: -8px;	
}

.loadingIndicator>p{
    position:relative;
    width:100%;
    top: 20px;		
    text-align:center;
}

.pagerSpan {
    display:inline-block;
    min-width:16px;
    text-align:center;
}

table.gridTable {
    padding: 0;
}

table.gridBody tr:first-child td{
    border-top: 0;
}


table.gridBody tr:last-child td{
    border-bottom: 0;
}


table.gridBody tr td:first-child{
    border-left: 0;
}

div[data-type=body]{
    border-left: 1px solid rgb(197,197,197);
    border-right: 1px solid rgb(197,197,197);
    border-bottom: 1px solid rgb(197,197,197);
    background-color: rgb(230, 230, 230);
    
}

div[data-type=head] {
    border: 1px solid rgb(197,197,197);
    background-color: #1E3C7B;
    background-image: none, linear-gradient(#1E3C7B 0px, #38528A 100%);
}

div[data-type=head] table,
div[data-type=body] table {
    table-layout: fixed;
}

table.gridBody tr.gridErrorRow {
    background-color :#FFE1D7;
}

table.gridBody tr.gridUpdatedRow {
    background-color: #F0F4FF;
}
