﻿
/*START GKL HACKS */

.k-grid td, .k-grid th, .k-grid-pager li, .k-label, .k-widget
{    
    font-size: 0.75em;
}

.k-input {
    height: 1.7em;
    border-radius: 4px;
}

.k-select {
    height: 1.7em;
    border-radius: 4px;
}

.k-picker-wrap {
    border-color: black;
}

.k-picker-wrap:hover {
    border-color: black;
}
/*END GKL HACKS */


