﻿/* -----------------------------
   Using Eric Meyer's RESET CSS, to remove default browser settings and even out the rendering across various browsers
   URL: http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
   in combination with : http://www.christianmontoya.com/2007/02/01/css-techniques-i-use-all-the-time/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100.01%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.2;
    font-size: 1em;  /* setting base: 1em = 16px, general default */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	/* tables still need 'cellspacing="0"' in the markup */
}