﻿/*-----------------------------------------------------------------
[Master Stylesheet]

Units:      Using em's vs pixels. 
            To determine element size: px / 11.11 = em's.
            To determine font size: px / 16 = em's.
-------------------------------------------------------------------*/

/*-----------------------------------------------------------------
-------------------------------------------------------------------*/

/*-----------------------------------------------------------------
[Table of Contents]

Note: Content sections start with $ for easy searching

* $Global - Global Styles ()
* $Screen - Screen Container / .screen-container
* $Primary - Primary Navigation Container / .primary-navigation-container
* $Content - Content Container / .content-container
* * $TaskTabHeader - Task Tab Header Section in Content Container / .task-tab-header-section
* * $TaskTabContent - Task Tab Content Section in Content Container / .task-tab-content-section
* * $Welcome - Welcome Section in Content Container / .welcome-section
* * $SecondaryNavigation - Secondary Navigation Section in Content Container / .secondary-navigation-section
* * $Validation - Validation states in Content Container / (various)
* * $InputElements - Input element styling / (various)


- Global Styles
- Header
- Page Structure
- Headings
- Text Styles
- Navigation
- Forms
- Comments
- Extras
-------------------------------------------------------------------*/
/*-----------------------------------------------------------------
[Color Codes]

Background: #fafafa (off white)
Content:    #333333 (dark grey)

Darkest Blue:   #1E3C7B - rgb(30,60,123)
Dark Blue:      #24478F ( menu-step header, task-tab-content-body header )
Medium Blue:    #517DBF - rgb(81,125,191)
Light Blue:     #EBF0F9 - rgb(235,240,249) 
Lightest Blue:  #F0F5FF ( alternative for sub-heading background color )
Dark Grey:      #333333
Off White:      #fafafa
Light Orange:   #FFD6AD ( input hover )

a (standard) / (visited) / (active):   #1E3C7B (Dark Blue)
a (hover):      #517DBF (Medium Blue)
-------------------------------------------------------------------*/
/*-----------------------------------------------------------------
[Typography]

Body copy:      1em Verdana, Myriad, Helvetica, sans-serif;
Headers:        ?
Input, textarea:    0.7em Verdana, Myriad, Helvetica, sans-serif;
Sidebar heading:    ?
-------------------------------------------------------------------*/

/*-----------------------------------------------------------------
    General Notes:
    - font sizes should only be applied to elements, not containers
-------------------------------------------------------------------*/



/*-----------------------------------------------------------------
    $Global Styles
-------------------------------------------------------------------*/

html, body { background-color: #ffffff; }
body {
    margin: 0.3em 0.6em 0 0.7em;
    padding-top: 0.3em; 
}

body * { font-size: 1em; font-family: Verdana, Myriad, Helvetica, sans-serif; }
body { color: #333333; }
input, label, select, textarea, form, fieldset, option { font-size: 0.75em; }  /* 0.75em x 16 = 12px , 0.6875em x 16 = 11px */

/* Neutralise styling : elements with a vertical margin */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
    margin: 1em 0; padding: 0;
}

a:link, a:visited, a:active, a:hover {
    color: #1E3C7B; 
    outline: none;
    padding: 0 0.2em;
    text-decoration: underline;
}
a:hover { color: #517DBF; }

header, footer, hgroup, nav, section { display: block; }

/* -- Need to change these, not to be used in Live - if needed, create specific element type eg; formButtonGroup -- */ 
.float-left { float: left; }
.float-right { float: right; }
.text-align-right { text-align: right; }
.align-center { margin: auto; text-align: center; }
.align-center-buttons  { clear: both; text-align: center; margin: auto; padding: 2em 0 1em 0; }

/* .highlight { background-color: #a6dbed; padding-left: 5px; padding-right: 5px;  } */

.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.clear-floats:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

/** Special Less-Than-IE9 Message : displayed at the bottom of the screen **/
.less-than-ie9-wrapper  {
    width: 100%;
    height: 4em;
    text-align:center;
    color: #999;
    background-color: #ccc;
    padding-top: 0.5em;
}


h1 { font-size: 1.25em; }       /* 20px */
h2 { font-size: 1.125em; }      /* 18px */
h3 { font-size: 1.0em; }        /* 16px */
h4 { font-size: 0.875em; }      /* 14px */
h5 { font-size: 0.75em; }       /* 12px */ 
h6 { font-size: 0.6875em; }     /* 11px */

.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 { margin: 0; }
.header h1, .header h2, .header h3, .header h4, .header h5 { font-weight: normal; }

.rounded-corners { border-radius: 4px; }

/* MENU BUTTONS - used in conjunction with Telerik base .t-button. (Note: if access from telerik.min.cs, prefix url with ~/Content/) */
/*
.pfx-menu-button 
{
    width: 150px; border-color:#666666; 
    background: #666666 url(themes/base/images/ui-bg_inset-soft_40_999999_1x100.png) 50% 50% repeat-x;
}
.pfx-menu-wizard-button {width: 160px; border-color:#666666; background:#1e3c7b url(themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png) 50% 50% repeat-x; }
*/
.pfx-menu-button  {
    width: 95%; /* 150px; */ border-color:#666666; 
    background: #666666 url(../content/themes/base/images/ui-bg_inset-soft_40_999999_1x100.png) 50% 50% repeat-x;
}
.pfx-menu-wizard-button { 
    width: 98%; /*160px;*/ border-color:#666666; 
    background:#1e3c7b url(../content/themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png) 50% 50% repeat-x; 
}

.pfx-button 
{
    border-color: black;
    background-clip: border-box;
    background-color: #1E3C7B;
    background: url('../Content/themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png') 50% 50% repeat-x;    
    color: #FFFFFF;
    font-size: 0.75em;
    line-height: 1.7em;
}
.pfx-button:hover {
    border-color:#333;  
    background: #517DBF;
}

.pfx-search-button 
{
    border-color: black;
    background-clip: border-box;
    background-color: #1E3C7B;
    background: url('../Content/themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png') 50% 50% repeat-x;    
    color: #FFFFFF;
    font-family: "webdings";
}
.pfx-search-button:hover {
    border-color:#333;  
    background: #517DBF;
}

.readonly-label {
    border: none;    
    background-color: #DCDCDC;
    border-radius: 4px;
    margin: 0;
    padding-left: 5px;
}

/*-----------------------------------------------------------------
    $Screen Container
    - The base screen container, other layers are added on top of this container.
-------------------------------------------------------------------*/

.screen-container {
    /* Note: height is set dynamically in common.debug.js */
    margin: 0 auto;
    width: 1280px;           /* 98% */    
}


/*-----------------------------------------------------------------
    $Primary Navigation Container
    - left floating container housing primary navigation and logo sections.
-------------------------------------------------------------------*/

.primary-navigation-container {
    float: left;
    width: 8.7em;
    overflow: hidden;
}
    .logo-section {
        background: transparent url(../Content/images/pfx_logo_83x53px.png) 10% 50% no-repeat;
        height: 5.7em;
    }
    .primary-navigation-section {
        padding-top: 0em;
        padding-left: 0.3em;
    }
        .primary-navigation-menu div.menuGroup{
            width: 8em;
        }
        .primary-navigation-menu ul.menuGroup {
            margin: 0;
        }
        .primary-navigation-menu  div.menuGroup-label,
        div.menuGroup li.menuItem
         {
            cursor: pointer;
            font-size: 0.6875em;
            text-align: left;
            text-indent: 0em;  /* note: when button adjusted, this may come in handy to work around the icon */
            color: #fff; 
            font-weight: normal;            
            padding: 4px 10px 4px 10px ;
            border: 1px solid black;
            border-radius: 4px;
            margin-bottom: 0.1em;            
        }
        .primary-navigation-menu  div.menuGroup-label {
            background: url('../Content/themes/base/images/ui-bg_inset-soft_40_999999_1x100.png') 50% 50% repeat-x;        
        }
        .primary-navigation-menu div.menuGroup li.menuItem {            
            background: url('../Content/themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png') 50% 50% repeat-x;    
        }
        
        .primary-navigation-menu div.menuGroup-open {
            border-color:#333;  
            background: #517DBF;
        }
        
        .primary-navigation-menu  div.menuGroup-label:hover,
        .primary-navigation-menu div.menuGroup li.menuItem:hover  
        {
            background:#FFE9D2;
            color: black;
        }
        
        /* included seperately and not using ui-state-active (of jQuery) as it de-activates on mouse rollover and state should persist until another header menu selected */
        ul.primary-navigation-menu .menu-state-active {
            border: 1px solid #1E3C7B; background: #1E3C7B url(themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff;
        }


/*-----------------------------------------------------------------
    $Content Container
    - container housing primary navigation content
-------------------------------------------------------------------*/

.content-container {
    display: inline-block;
    overflow: auto; 
    padding: 0.3em 0 0 0.3em;
    width: 63.8em; /*87%;*/
}


/*-----------------------------------------------------------------
    $TaskTabHeader Section in Content Container
    - section containing the tab flaps (active & inactive)
-------------------------------------------------------------------*/

.task-tab-header-section  {
    border-bottom: 1px solid #999;
    top: 0px; left: 0px; position: relative;
    overflow: auto;
    width: 99.5%; 
    max-height: 12.5em;
    margin-bottom: 0.4em;
}   
    .task-tab {
        color: #fff;
        border: 1px solid #999;
        border-bottom: 2px solid #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        float: left;
        height: 4.5em; 
        margin-right: 0.7em; 
        max-width: 15em;
        min-width: 7em;
        padding: 0.4em; 
        position: relative;
        background: #666666 url(themes/base/images/ui-bg_inset-soft_40_999999_1x100.png) 70% 30% repeat-x;
    }
    
    .task-tab:hover {
        background:#FFE9D2;
        color: black;
    }
        .task-tab .header {
            padding-bottom: 0.6em;
            border-bottom: 1px solid #dcdcdc; 
            color: #fff; 
        }
        .task-tab p {
            font-size: 0.6875em;
        }
        
    .task-tab-state-active  {
        border: 1px solid #1E3C7B;
        border-bottom: 2px solid firebrick;
        color: #fff;
        background: #1E3C7B url(themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png) 70% 30% repeat-x;
    }


/*-----------------------------------------------------------------
    $TaskTabContent Section in Content Container 
    - section containing the active tab content
-------------------------------------------------------------------*/

.task-tab-content-section {
    float: left;
    width: 50em; /*75%; */
    margin-bottom: 1em;
    overflow: auto;
}
    .task-tab-content-heading-section {
        margin: 0.3em 0 1em 0;
        padding-left: 3.1em;
        height: 3.1em; 
        line-height: 3.1em;
        background-color: #1E3C7B; 
        background: #1E3C7B url(themes/base/images/icon_product_32x32.png) 1.5% 50% no-repeat;
        vertical-align: middle;
    }
    
        .task-tab-content-heading-section h2 
        {
            margin-top: 0;
            color: #fff;
        }

    .task-tab-content-breadcrumbs {
        /* Not currently in use, and will need further adjusting if used */
        color: #517DBF;
        padding-left: 5.7em; vertical-align: middle;
    }

    .task-tab-content-body {
        line-height: 150%;
    }
    .task-tab-content-body p, 
    .task-tab-content-body td, 
    .task-tab-content-body th { font-size: 0.6875em; }
    
        .task-tab-content-body h4 {
            font-weight: normal;
            color: #24478F;
            background-color: #F0F5FF;
            border-bottom: 2px solid #1E3C7B;
        }

.task-tab-content-body .header, .secondary-navigation-section .header {
    clear: both;
    margin-bottom: 1em;
    border-bottom: 2px solid #1E3C7B;
    padding: 0.5em;
    color: #24478F;
    background-color: #EBF0F9; 
}


/*-----------------------------------------------------------------
    $Welcome Section in Content Container
    - section containing the welcome greeting and the Username
-------------------------------------------------------------------*/

.welcome-section {
    display: block; 
    width: 12em;    
    height: 2.5em;
    margin-bottom: 1.0em;
    padding: 0.1em 0.3em 0.3em 0.2em;
    background-color: #efefef; 
    color: #333; 
    text-align: center;
}
    .welcome-section p { font-size: 0.6875em; line-height: 1.5em; }
    .welcome-section .username { font-weight: bold; }


/*-----------------------------------------------------------------
    $SecondaryNavigation Section in Content Container
    - section containing the Wizard Steps for the Active Menu Item
-------------------------------------------------------------------*/

.secondary-navigation-section {
    float: right;
    display: block;
    width: 13em;       
    margin: 0.4em 0.1em 0 0; 
    overflow: auto;
    line-height: 1em;
}
    .secondary-navigation-section h3     {
        margin-top: 0;
        font-weight: normal;
        color: #24478F;
        background-color: #F0F5FF;
        border-bottom: 2px solid #1E3C7B;
        line-height: 1.5em;
    }

    .secondary-navigation-block  {
        width: 90%;     /* note; quirky behaviour in IE, as 99% extends past right margin?! */
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.4em;
    }
    .secondary-navigation-block p {
        font-size: 0.6875em;
    }
    ul.secondary-navigation-menu {
        margin: 0;
        text-align: left;
    }
    ul.secondary-navigation-menu  li {
        margin-bottom: 0.5em;
        
        font-size: 0.6875em;
        text-align: left;
        text-indent: 0em;  /* note: when button adjusted, this may come in handy to work around the icon */
        color: #fff; 
        font-weight: normal;
        background-color: #1e3c7b;
        background: url('../Content/themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png') 50% 50% repeat-x;    
        padding: 4px 10px 4px 3em;
        border: 1px solid black;
        border-radius: 4px;
        text-indent: -2em;
    }
    ul.secondary-navigation-menu  li.currentStep {
        background: #FFE9D2;
        border: 1px solid black;
    }
    
    ul.secondary-navigation-menu li span.currentStep 
    {
        font-weight: bold;
        color: black;
    }
    
    
    ul.secondary-navigation-menu li:nth-last-child(1) {
        margin-bottom: 0;
    }
    
    /* included seperately and not using ui-state-active (of jQuery) as it de-activates on mouse rollover and state should persist until next menu option selected */
    .secondary-navigation-menu .secondary-navigation-state-active {
        border: 1px solid #999; background: #fff; font-weight: normal; color: #1e3c7b;
    }
    .secondary-navigation-menu .secondary-navigation-state-default {
        border: 1px solid rgb(30,60,123); background: #1e3c7b url(themes/base/images/ui-bg_inset-soft_20_1e3c7b_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff;
    }
    .secondary-navigation-menu .secondary-navigation-state-default:hover {
        background-color: #517DBF; font-weight: normal; color: #ffffff;
    }
    
    .secondary-navigation-menu .secondary-navigation-state-active.t-state-disabled  {
        background: none repeat scroll 0 0 #eee;
        color: gray;
    }
    
    .secondary-navigation-menu .secondary-navigation-state-default.t-state-disabled  {
        background: none repeat scroll 0 0 gray;        
    }

    .pfx-icon {
        display:inline-block;
        width:20px; height:22px;
        overflow:hidden; font-size:0; line-height:0;
        text-align:left; vertical-align:middle;
        margin: 0 2px 0 -7px;
        border-radius: 3px;
    }
    * html .pfx-icon {display:inline;}
    * html .pfx-icon {text-indent:0}
    .pfx-icon.wizard-state-valid {
        background-color: #00A000;
        background: url(images/pfx_smiley_valid_18x18.png) 50% 50% no-repeat #00A000;
        border: 1px solid #ccc;
    }
    .pfx-icon.wizard-state-error {
        background-color: Red; 
        background: url(images/pfx_smiley_error_18x18.png) 50% 50% no-repeat Red; 
        border: 1px solid #ccc;
    }
    .pfx-icon.wizard-state-warning {
        background-color: Orange; 
        background: url(images/pfx_smiley_warning_18x18.png) 50% 50% no-repeat Orange; 
        border: 1px solid #ccc;        
    }

    .secondary-navigation-menu .secondary-navigation-state-valid,
    .secondary-navigation-menu .secondary-navigation-state-error,
    .secondary-navigation-menu .secondary-navigation-state-warning {
        border-left: 20px solid White;
    }
    .secondary-navigation-menu .secondary-navigation-state-valid  {
        border-left-color: Green;
    }
    .secondary-navigation-menu .secondary-navigation-state-error  {
        border-left-color: Red;
    }
    .secondary-navigation-menu .secondary-navigation-state-warning  {
        border-left-color: #FFD633; 
    }


/* -- SUB-HEADING -- class = .sub-heading -- */
/** NOTE: this section has been deprecated in favour of convention by using the H1, H2, etc headers **/
/*   
.sub-heading {
    color: #24478F;
    background-color: #EBF0F9; 
    margin-bottom: 1em;
    padding: 0.5em;
    border-bottom: 2px solid #1E3C7B;
}
.sub-heading.with-buttons { height: 25px; line-height: 25px;}
.task-tab-content-body .sub-heading { margin: 0.7em 0; }
*/    
    
    /*
    .overview-summary { color: #2f4f4f; background-color: #efefef; }
    .numeric-font { font-family: "Consolas","Monaco", "Verdana", "Helvetica", "Sans-Serif"; }
    */
  
    /* Task Tab Icons */
    .task-icon-close 
    {
        border-radius: 3px;
        float: right;
        color: black;
        border: 1px solid black;
        padding: 0px;
        margin: 0px;
        background-color: white;
        text-align: center;
        vertical-align: middle;
        display: inline; 
        cursor: pointer;
        overflow: hidden;
        width: 16px; height: 16px;
        top: 5px; 
        right: 5px; 
        position: absolute;
    }
    .task-icon-close:hover
{
    background-color: #FF3300;
}
    
    
/* lighter themed button */
li.content-button {
    display: inline; margin-right: 10px;
    height: 2.1em;
    border: 1px solid #666666; background: #dcdcdc url(themes/base/images/ui-bg_inset-soft_25_efefef_1x100.png) 50% bottom repeat-x; color: #303030;
}


/*-----------------------------------------------------------------
    $Validation - Validation states 
    - containing various validation states across DIV's and elements
-------------------------------------------------------------------*/

.validation-summary-errors { font-weight: bold; color: #f00 }
.validation-summary-valid { display: none }

.field-validation-error,
.field-validation-valid {
    margin:0;
    padding:0;
    display: block;
    margin-top: -3px;
 }

.field-validation-error { color: #f00 }

.valid input[type='text'],
.input-validation-error input[type='text'] {
    margin:0;
    padding:0;
    height: 1.5em;
}

.input-validation-error { border: 1px solid #f00 }
.input-validation-valid  { /* Optional: you can set whatever style you want */ }


/*-----------------------------------------------------------------
-------------------------------------------------------------------*/
.square-icon {
    width: 16px; 
    height:16px;   
}

div.ajax-loader, span.ajax-loader {
    background: url(2012.1.214/Default/loading.gif) no-repeat left;
    width: 32px;
    height: 32px;
    padding: 2em;
}

div.ajax-loader {
    /*display: none;*/
    background-position: center;
    background-color: #EBF0F9; 
    width: 150px;
    height: 90px;
    position: fixed;
    top: 35%;
    left: 45%;    
    text-align: center;
    font: normal 0.6875em Verdana, Arial;
    color: #333;
    border: 1px solid #333; 
    border-radius: 3px;
    margin-left: -50px;
    margin-top: -45px;    
    overflow: auto;
}


/*-----------------------------------------------------------------
    $InputElements - Input elements 
    - containing styling for the various input elements
-------------------------------------------------------------------*/

label, textarea, div.t-combobox, div.t-autocomplete, input[type='text'], input[type="label"]
{
    padding-left: 3px;
    background-color: #fff;
}
input, textarea, div.t-combobox, div.t-autocomplete, div.t-datepicker, input[type='text'] { font-size: 0.75em;}  /* Not behaving, as this font-size is way too big, needs investigating */
label, input[type="label"] { font-size: 0.6875em; text-align: right;}
input, input[type="text"], input[type="label"], label,
div.t-combobox, div.t-autocomplete, div.t-datepicker { 
    height: 1.7em; 
}
div.t-combobox, div.t-autocomplete, div.t-datepicker { vertical-align: middle;}

.grid-item label, .grid-item input[type="label"] { text-align: right;}

input[type='checkbox'], input[type='radio'], .checkbox, .radio
{
    /*width: 1.5em; 
    height: 1.5em; */
    font-size: 0.6875em;
    line-height: inherit;         
    margin-right: 0.4em;
    padding-top: 0.1em;
    vertical-align: middle;
    border: 0;
}

/* NOTE: REMOVED FOR THE TIME BEING - FANCY-CONTROL SETTINGS
input[type='checkbox'], input[type='radio'], .checkbox, .radio { width: 2em; /*19px; / height: 2.2em; /*25px; / line-height: 2.2em; margin: 0 0.4em 0 0.4em; }
input[type="checkbox"], .checkbox { background: url(../Images/checkbox_sprite_19x25.png) no-repeat; }
input[type="radio"], .radio { background: url(../Images/radiobutton_sprite_19x25.png) no-repeat; }
*/

/* BORDER RADIUS ON FORM ELEMENTS */
input, textarea, div.t-combobox, div.t-autocomplete, div.t-datepicker,
input[type='text'], input[type='label'], input[type='select']
{
    border: 1px solid #333; 
    border-radius: 4px;
}
div.t-combobox input[type='text'], div.t-autocomplete input[type='text'], div.t-datepicker input[type='text'] { border: 0; }
div.t-combobox .t-dropdown-wrap { border: 0; }

/* HOVER ON FORM ELEMENTS */
input:hover, textarea:hover, div.t-combobox:hover, 
input[type='text']:hover, input[type='label']:hover, input[type='checkbox']:hover, input[type='select']:hover
{
    background-color: #FFD6AD;
}
/* FOCUS ON FORM ELEMENTS */
input:focus, textarea:focus, div.t-combobox:focus,  
input[type='text']:focus, input[type='label']:focus, input[type='checkbox']:focus, input[type='select']:focus
{
    background-color: #FFD6AD;
}



/** NOTE FOR GEOFFREY: END OF CHANGES MADE, beyond this is still a mix of Other Dev and myself adding pieces as we went along - still needs garlic! **/



/*---END--------------------------------------------------------------
    Content Container - $Grid Elements
    - containing styling for the grid and elements within the grid
-------------------------------------------------------------------*/

.checkboxlist-vertical { list-style: none; line-height: 20px; height: 26px; text-align: left; }
.checkboxlist-vertical li { padding-bottom: 3px; }
.checkboxlist-horizontal {
    list-style: none; 
    margin: 0 2px 3px 0; padding: 2px 4px 0 4px;
    line-height: 20px; height: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.checkboxlist-horizontal li { padding-right: 5px; }

/* UN-ORDERED LIST */
ul.pfx-list, ul.pfx-list-no-indent { list-style: none; }
ul.pfx-list li, ul.pfx-list-no-indent li { height: 2.3em;  /* Note: height is to cater for radio buttons and checkboxes, which are 25px */ }
ul.pfx-list-no-indent li { padding-left: 0; }


.legend-border { border: 1px solid #ccc; margin: 4px; /*width: auto; height: auto;*/ }

.mandatory-field-indicator {
    float: left;
    display: inline; 
    height: 18px;
    background: url(../images/isMandatory.png) 50% 50% transparent;
    position: absolute;
    width: 10px;
    margin-left: 3px;
}

/* VIEW-ONLY MODE STYLING */
.form-field input[type='text'].view-mode, .form-field input[type='text'].viewOnly {
    background-color: #dcdcdc;
    padding: 3px 0 0 4px;
    vertical-align: middle;
    border: 0;
}

input[type='button'] { /* width: auto; height: auto; font-size: 10px; font-weight: normal; font-family: "Verdana","Myriad","Helvetica", "Sans-Serif"; */ }

/** Treeview styling to visually ignore selection **/
.ignore-selection .t-treeview .t-state-hover { color: #333; background-color: transparent; border-color: #ccc; }

.form-treeview { height: auto; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; }

.form-treeview-with-maxheight { /*width: 99%;*/ max-height: 400px; overflow: auto; }
.form-treeview-with-mediumheight { width: 96%; max-height: 240px; overflow: auto; overflow-x: hidden; }
.form-treeview-with-minheight { width: 96%; max-height: 180px; overflow: auto; overflow-x: hidden; }

.form-treeview-info {
    margin-top: 0.2em;
    display: block;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    color: #1E3C7B;
}

/* FORM TEXTBOX FIELD WITH SEARCH ICON */

.textbox-icon {
    width: 25px; height: 25px;
    text-align: right;
    vertical-align: middle;
    background-image:url('themes/TerminalFriendly/images/sprite_web20.png');
    border: 1px solid orange;
    /*margin-left: -18px;*/
    /*padding-top: 2px;*/
}
.pfx-search-icon { background-position:-64px -176px; }

/** Disabled Input Elements **/

input[disabled="disabled"], input[disabled], input[readonly="readonly"], input.disabled {
    color: #333;
    background-color: #DCDCDC;    
}
button[disabled]:active, button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
select[disabled] > input[type="button"],
select[disabled] > input[type="button"]:active,
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
  background: #999999;
  border: 1px solid #666; 
  color: #fff;
}

/** Change colour of links in Telerik Grids **/
.t-state-hover a.grid-link { color: #fff; }

ul.horizontal-list {  margin: 0 auto; }
ul.horizontal-list li { list-style-type: none; display: inline; }

/* -- ALERT MESSAGE - SECONDARY NAVIGATION MENU OBJECTIVE ISSUES */

ul.listexpander li {
    border-radius: 3px;
    margin-bottom: 8px;
    line-height: 2.0em;
    /* padding-bottom: 5px; */
    border-bottom: 1px solid #ccc;
}
ul li.alert-message {
    border-radius: 0px;
    margin: 0;
    margin-right: 2px;
    padding-left: 0.2em;
}

.alert-message.error, .alert-message.warning { padding: 0; }
.alert-message li { list-style-type: none; }
.alert-message.even, .alert-message.odd { font-size:xx-small; padding-left: 0.2em; }
ul li.alert-message.even { background-color: #dcdcdc; }
ul li.alert-message.odd { background-color: #eee; }

div.alert-message.error, div.alert-message.warning { border-radius:4px; background-color: #DCDCDC; padding-left: 2em; }
div.alert-message.error { color: red; }
div.alert-message.warning { color: #1E3C7B; }

.grid-search-control { float: right; }

/* for advanced search type screens - to be refactored */
table.groupboxCollection td { vertical-align:top; }

div.tableRow { height: 25px; margin: 0 0 10px 0; }
div.tableColumn { float: left; }
div.tableColumnSeperator { float: left; width: 20px; }
fieldset.horizontalStack { display: inline-block; float: left; margin-right: 10px; }

.user-warning-message {
    color: red;
    font-size: x-small;
    font-weight: bold;
}

.user-hint-message {
    color: #517DBF;
    font-size: x-small;
    font-weight: normal;
    padding: 5px;
    text-align: right;
}
.user-hint-message-hidden {
    display: none;
    color: #517DBF;
    font-size: x-small;
    font-weight: normal;
    padding: 5px;
    text-align: right;
}
.above-field { margin-top: -24px; }

.checkbox, .radio {
    width: 19px;
    height: 25px; 
    padding: 0 5px 0 0;
    background: url(../Images/checkbox_sprite_19x25.png) no-repeat;
    display: block;
    float: left;
}
.radio {
    background: url(../Images/radiobutton_sprite_19x25.png) no-repeat;
    border-radius: 0;
    border: 0;
}

div.ignore-selection { background-color: #eee; }
div.ignore-selection .t-state-selected { background-color: #888888; }

.t-panelbar .t-link.t-header {
    color: #24478F; 
    background-color: #F0F5FF; 
    font-size: 14px; 
    font-weight: normal;
    font-family: "Verdana","Myriad","Helvetica", "Sans-Serif";
    line-height: 1.75em;
    margin: 1em 0;
    border-width: 2px;
    border-color: #1E3C7B;
}

.t-widget.t-panelbar { border: 0 none; }
.pfx-menu-wizard-button span { font-weight: bold; }
.clear-surrounding-floats { clear: both; }

.button-collection {
    padding: 0.7em 0.5em 0.5em 0.5em;
    text-align: center;
}

.t-state-disabled-PFX span.t-in {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #AAAAAA;
}

/* ------------------------------------------------------------------------- */

.user-note-list-action span { font-weight: bold; }

/* The various fields within Telerik grids */
.currency-field, .percentage-field, .integer-field { text-align: right !important; }
.datetime-field, .text-field { text-align: left !important; }
.datetime-field, .text-field, .currency-field, .percentage-field, .integer-field { white-space: nowrap; }
.action-field { text-align: center !important; }
.highlight-warning-row, tr.highlight-warning { background-color: #FFC44F; }
.highlight-warning-cell, td.highlight-warning { background-color: #FFC7CE; color: #9C0006; }
.t-state-hover .highlight-warning { background-color: #9C0006; color: #FFC7CE; }

.knockout-debug {
    /*text-wrap: unrestricted;*/
    white-space: normal;
    word-wrap:break-word;
    word-break: break-all;
    font-weight: bold;
}

div.name-value-label {
    float: left;
    margin-right: 5em;
}

div.name-value-label > span:nth-child(2) {
    font-weight: bold;
}

.pfx-error-page-notification {
    background-color: #EBF0F9;
    border: 1px solid #517DBF;
    border-radius: 4px;
    color: #1E3C7B;
    font-size: 1.2em;
    padding: 2em 2em;
    text-align: center;
}

.pfx-hint {
    position: absolute;
    margin-top: 2.5em;
    font-size: 0.5em;
    margin-left: 0.5em;
    color: #666666;
}

.even { background-color: #dcdcdc; }
.odd { background-color: #eee; }

.greyOut,
#loadingIndicator {
    background-color: rgb(0, 0, 0);
    color: rgb(51, 51, 51);
    cursor: wait;
    display: block;
    font-family: Verdana, Myriad, Helvetica, Sans-Serif;
    font-size: 10px;
    height: 100%;
    left: 0px;
    margin: 0px;
    opacity: 0.2;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}


#loadingIndicator>div 
{
    opacity: 5;
    background-color: white;
}

#loadingIndicator>div>img
{
    
    position: fixed;
    top: 30%;
}
