﻿@using ProcessFramework.Client.Common.Security
@{
    ViewBag.WebContext = ProcessFramework.Client.Common.Context.ObjectFactory.Resolve<WebContext>();
    WebContext webContext = ViewBag.WebContext;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/kendo")

        @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
        @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
        @System.Web.Optimization.Scripts.Render("~/bundles/knockout")
        @System.Web.Optimization.Scripts.Render("~/bundles/kendo")
        @System.Web.Optimization.Scripts.Render("~/bundles/fx")
        @System.Web.Optimization.Scripts.Render("~/bundles/moment")
    </head>
    <body>
        <div>
            @RenderSection("scripts", required: false)
        </div>
        
        <div class="screen-container">
            <div class="primary-navigation-container">
                @{ Html.RenderAction("Nav", "Home"); }
            </div>
            <div id="ContentContainer" class="content-container">
                <div id="tabContainer" class="task-tab-header-section" style="min-height: 89px">
                    <!-- ko foreach: tabs -->
                    <div class="task-tab" data-bind="attr: {'data-tabId':tabId}, css: { 'task-tab-state-active': isActive() }" onclick="javascript:applicationContext.tabController.loadTabFromId($(this).attr('data-tabId'));">
                        <div class="header">
                            <span data-bind="text:label">
                                Loading...
                            </span>
                            &nbsp;
                            <div class="task-icon-close" onclick="javascript:applicationContext.tabController.cancelTab($(this).parent().parent().attr('data-tabId')); if (event.stopPropagation) event.stopPropagation();">&times;</div>
                        </div>
                        <p data-bind="text:description"></p>
                    </div>
                    <!-- /ko -->
                </div>
                
                <div class="secondary-navigation-section">
                    <!-- Welcome Message -->
                    <div class="welcome-section">
                        <p>Welcome <span class="username"> @webContext.Principal.ProcessFrameworkIdentity.DisplayName </span></p>
                    </div> 
                    <!-- End Welcome -->
                    <div id="gridActionsContainer">
                        <div class="secondary-navigation-block" id="gridActions" style="display:none">
                            <h3>Process Objectives</h3>
                            <!-- Process objectives -->
                            <ul class="secondary-navigation-menu" data-bind="foreach: states">
                                <li data-bind="css: {currentStep: isCurrent}">
                                    <span class="pfx-icon" data-bind="css: { 'wizard-state-valid': errorState() == 0, 'wizard-state-warning': errorState() == 1, 'wizard-state-error': errorState() == 2 }">&nbsp;</span>
                                    <span data-bind="text: name, css: {currentStep: isCurrent}"></span>
                                </li>
                            </ul>
                            <!-- end process objectives -->
                            <!-- links -->
                            <div style="display:none;">
                                <ul>
                                    <li>Foo link</li>
                                    <li>Bar link</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="gridIssuesContainer" >
                        <div class="secondary-navigation-block" id="gridIssues" style="display:none">
                            <h3>Objective Issues</h3>
                            <div>
                                <div>
                                    <div class="alert-message error">Errors</div>
                                    <ul data-bind="foreach: errors">
                                        <li class="alert-message" data-bind="text: message, visible: isVisible, css:{even:$index() % 2, odd:($index() + 1)%2}">Validation error</li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="alert-message warning">Warnings</div>
                                    <ul data-bind="foreach: warnings">
                                        <li class="alert-message" data-bind="text: message, visible: isVisible, css:{even:$index() % 2, odd:($index() + 1)%2}">Warning</li>
                                    </ul>
                                </div>
                            
                            </div>
                            <!-- End links -->
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>
            <div  id="loadingIndicator" style="display:none">
                <!-- <div style="text-align: center">
                         <img src="~/Content/Images/ajax-loader-bar.gif"/>
                     </div> -->
            </div>
            <div id="timeoutWarning" style="display:none; position:fixed; width:100%; height:100%; left:0px; top:0px; text-align: center;">
                <div class="greyOut">
                </div>
                <div style="z-index:10000; position:relative; top:200px; width:400px; border: 1px solid black; display:inline-block; background-color:white; padding: 5px;">
                    <p>Your session is about to expire. Click 'Ok' to refresh the session.</p>
                    <p>Time Left: <span id="counter">0:00</span></p>
                    <p style="text-align: center"><button id="sessionRefreshButton" class="pfx-button">Ok</button></p>
                    <p style="color:red; display: none;" id="sessionRefreshError">Refresh Failed. Please try again.</p>
                </div>
            </div>
            @{ Html.RenderAction("ProcessResumeInfo", "Home");}
            <script type="text/javascript">
                var applicationContext;
                $(document).ready(function() {
                    applicationContext = new ApplicationContext();
                    applicationContext.baseUrl = '@(Url.Content("~"))';
                    applicationContext.timeoutMinutes = @(Session.Timeout);

                    performRefresh();
                    setupTimeout();
                });
                function setupTimeout() {
                    $('#sessionRefreshButton').click(function() { applicationContext.renewSession(); });
                    applicationContext.setTimeoutWarningTimer();
                }
                function performRefresh() {
                    var tabStates = new ProcessResumeInfo();

                    ko.utils.arrayForEach(tabStates, function(p) {
                        applicationContext.tabController.pushRefreshedTab(p);
                    });

                    var tabViewModel = { tabs: applicationContext.tabController.tabs };
                    ko.applyBindings(tabViewModel, $('#tabContainer')[0]);

                    if (window.location.hash) {
                        applicationContext.tabController.loadTabFromId(window.location.hash.substring(1));
                        applicationContext.tabController.updateTabId();
                    }
                }
            </script>
            @Html.Partial("ErrorBanner")
        </div>
    </body>
</html>
