﻿<div id="errorBanner" style="display:none;">
    <script type="text/javascript">
        var exDetail = null;
        function showErrorBanner(message, ex) {
            exDetail = ex;
            $('#errorBannerMessage').html(message);
            $('#errorBanner').show().animate({ backgroundColor: '#FFCBC2' }, 100).animate({ backgroundColor: '#FF401F' }, 2000);
        }
        function clearErrorBanner() {
            $('#errorBannerMessage').html('');
            $('#errorBanner').hide();
        }
        function errorDetailDialog() {
            var dialog = '<div class="errorDetailDialog"><iframe id="detailFrame">';
        }
    </script>
    <button class="errorDetailButton" onclick="javascript:if (exDetail){alert(exDetail.toString() + exDetail.stack)}else{alert('No detail')};">&equiv;</button>
    <span id="errorBannerMessage" class="message">Something broke</span>
    <span onclick="javascript:$('#errorBanner').fadeOut();" class="close">&times;</span>
</div>