﻿@{
    Layout = null;
}
@using ProcessFramework.Client.Models.Home
@model IEnumerable<MenuGroup>
<div class="logo-section">&nbsp;</div>
<div class="primary-navigation-container">
    <div class="primary-navigation-menu">
        @foreach (var group in Model)
        {
            <div class="menuGroup">
                <div class="menuGroup-label" onclick="javascript:toggleGroup(this)">@group.Label</div>
                <ul class="menuGroup" style="display:none">
                    @foreach (var item in group.GroupItems)
                    {
                        var viewUrl = Url.Action(item.ProcessMetaModel.View.ActionName, new {area = item.ProcessMetaModel.View.AreaName, controller = item.ProcessMetaModel.View.ControllerName});
                        var apiUrl = item.ProcessMetaModel.ApiAction(item.ProcessMetaModel.Action, Url);
                        <li class="menuItem" onclick=" javascript:applicationContext.tabController.pushNewTab('@viewUrl', '@apiUrl')">@item.Label</li>
                    }
                </ul>
            </div>
        }
    </div>
</div> 
