﻿@{
    Layout = null;
}
@using ProcessFramework.Client.Common.Process
@model IEnumerable<ProcessResumeInfo>
<script> 
    function ProcessResumeInfo() {
        return @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(p => new
                                                                                        {
                                                                                            viewUrl =  p.RefreshStateInfo.ToView(Url),
                                                                                            dataUrl = p.RefreshStateInfo.ToAction(Url),
                                                                                            tabId = p.Tabid,
                                                                                            description = p.RefreshStateInfo.Description,
                                                                                            label = p.Label
                                                                                        }))));
    }
</script>
