﻿<div id="tab">
    <div class="task-tab-content-section">
        <div class="task-tab-content-heading-section" style="display: none">
            <div><h2>Tab content heading</h2></div>
        </div>
        <!-- Content -->
        <div id="tabContent" class="task-tab-content-body">
            
        </div>
        <!-- End -->
    </div> 
</div>