﻿@using ProcessFramework.Client.Common.Process
@model ProcessMetaModel

<h4>Sections</h4>
<p>Sections headers are tagged with h4</p>
<p>Grids are set up using fluid grids</p>

<h4>A Grid</h4>
<div class="pfx-fluid-grid">
    <div class="grid-row">
        <div class="col-idx-0 col-width-3">
            <label for="cb">Process calculated change</label>
        </div>
        <div class="col-idx-3 col-width-3">
            <input id="cb" type="checkbox" data-bind="checked:GoToB"/>
            <label for="cb">Go to B instead of A</label>
        </div>
        <div class="col-idx-6 col-width-3">
            <label>Some field</label>
        </div>
        <div class="col-idx-9 col-width-3">
            <input type="text" value="Some Value" data-bind="value:SomeTextValue">
        </div>
    </div>
</div>



<h4>Navigation</h4>
<div class="align-center">
    <button class="pfx-button" onclick="@Url.GetNext(Model, "$ViewContext().viewModel.toPostModel")">Next</button>
</div>

<script type="text/javascript" src="@Url.Content("~/Areas/Foo/Scripts/Foo/Index.js")"></script>