﻿@using ProcessFramework.Client.Common.Process
@model ProcessMetaModel

<h4>Step2A</h4>

<p>This page uses an embedded script (not reccommended)</p>

<p data-bind="text:SomeFoo"></p>
<p data-bind="text:SomeBar"></p>

<h4>Navigation</h4>
<div class="align-center">
    <button class="pfx-button" onclick="@Url.GetBack(Model, "new Object()")">Back</button>
    <button class="pfx-button" onclick="@Url.GetNext(Model, "new Object()")">Next</button>
</div>

<script type="text/javascript">
    $OnViewReady(function (model) {
        var viewModel = {
            SomeFoo: ko.observable(model.SomeFoo),
            SomeBar: ko.observable(model.SomeBar)
        };

        $ViewContext().viewModel = viewModel;
        $ApplyViewBindings($ViewContext().viewModel)
    })
</script>