﻿@using ProcessFramework.Client.Common.Process
@using ProcessFramework.Client.Areas.Foo.Controllers
@model ProcessMetaModel

<h2>Step3</h2>

<div>
    <button class="pfx-button" onclick="@Url.GetBack(Model, "new Object()")">Back</button>
    <button class="pfx-button" onclick="javascript:$ViewContext().viewModel.export()">Download</button>
    <button class="pfx-button" onclick="@Url.GetExit(Model, "new Object()")">Exit</button>
    
    <input type="hidden" id="exportUrl" value="@FooApiController.ActionLinks.PostFileDownload" />
    
</div>

<script type="text/javascript">
    $OnViewReady(function () {
        var viewModel = {};
        viewModel.export = function () {
            var url = $("#exportUrl").val();
            $InvokeFileDownload(url, null);
        };

        $ViewContext().viewModel = viewModel;
        $ApplyViewBindings($ViewContext().viewModel)
    })
</script>