﻿@using ProcessFramework.Client.Common.Process
@model ProcessMetaModel

<h4>Step2B</h4>

<p>You can click next or back, not that if you clicked "Skip 2A" on "index" you are here.</p>

<h4>Navigation</h4>

<div class="align-center">
    <button class="pfx-button" onclick="@Url.GetBack(Model, "new Object()")">Back</button>
    <button class="pfx-button" onclick="@Url.GetNext(Model, "new Object()")">Next</button>

    <button class="pfx-button" onclick="@Url.GetExit(Model, "new Object()")">Close &amp; Restart</button>
</div>

<script type="text/javascript">
    $OnViewReady(function () {
    })
</script>